@page "/ant-design-charts"
@using System.Globalization


<PageTitle>Ant Design Charts</PageTitle>

<h1>Ant Design Charts</h1>

@if (!_initialized)
{
     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgb(247, 247, 247); display: block;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <g transform="rotate(180 50 50)">
                <rect x="15" y="15" width="10" height="40" fill="#ebebeb">
                    <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="1s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-0.4s"></animate>
                </rect>
                <rect x="35" y="15" width="10" height="40" fill="#f0f0f0">
                    <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="1s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-0.2s"></animate>
                </rect>
                <rect x="55" y="15" width="10" height="40" fill="#ebebeb">
                    <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="1s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-0.6s"></animate>
                </rect>
                <rect x="75" y="15" width="10" height="40" fill="#f0f0f0">
                    <animate attributeName="height" values="50;70;30;50" keyTimes="0;0.33;0.66;1" dur="1s" repeatCount="indefinite" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-1s"></animate>
                </rect>
            </g>
        </svg>
}
else
{
    <div class="container">
        @{
            for (var row = 1; row <= NumberOfRowsToGenerate; row++)
            {
                <div class="row">
                @{
                    for(var column = 1; column <= NumberOfColumnsToGenerate; column++)
                    {
                        <div class="col-sm-4">
                            <AntDesignChartsComponent/>
                        </div>
                    }
                }
                </div>
            }
        }
    </div>
}

@code
{
    private bool _initialized;
    public static readonly int NumberOfRowsToGenerate = 50;
    public static readonly int NumberOfColumnsToGenerate = 2;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Task.Delay(40);
        _initialized = true;
    }
}
